#game {
 z-index:1000;
 position: fixed;
 top: 0;
 left: 0;
 width: 480px;
 height: 523px;
}

.pause {
    left: 0;
    text-align:right;
    float:right;
    text-align: right;
}

body {
    background-color: black;
}

canvas {
    position:absolute;
    top:0;
}

#playfield {
    z-index: 1;
}

#projectiles {
    z-index: 2;
    pointer-events: none;
}
